<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>VideoPair</title>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/popcorn.min.js"></script>

    <style>
        body {

        }
        video {
            width: 100%    !important;
            height: auto   !important;
        }
        .participant {
            margin: 20px;
        }
        .header-line {
            border-bottom: 1px solid #eee;
        }
        .none-form {
            margin-top: 20px;
            text-align: center;
        }
    </style>
</head>

<body>
    {% if question %}
         <div class="container">
             <div class="header header-line clearfix">
                 <div class="pull-left">
                     <h3>Сравнение видеопоследовательностей</h3>
                     <p class="lead lead-smallmargin">
                         Вопрос #{{ counter.current }} из {{ counter.total }}
                     </p>
                 </div>
                 <div class="participant pull-right">
                     <p class="small">
                         <span class="glyphicon glyphicon-user"></span> {{ participant.name }}
                     </p>
                 </div>
             </div>

            <div class="row">
                <div class="col-md-6">
                    <video id="player-video-left" loop poster="{{ STATIC_URL }}poster.gif"></video>
                </div>
                <div class="col-md-6">
                    <video id="player-video-right" loop poster="{{ STATIC_URL }}poster.gif"></video>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 clearfix">
                    <form method="post">
                        {% csrf_token %}
                        {{ answer_left_form }}
                        <button id="best-left" type="submit" class="btn btn-lg btn-primary pull-left" disabled>
                            Левый вариант лучше
                        </button>
                    </form>
                </div>
                <div class="col-md-6 clearfix">
                    <form method="post">
                        {% csrf_token %}
                        {{ answer_right_form }}
                        <button id="best-right" type="submit" class="btn btn-lg btn-primary pull-right" disabled>
                            Правый вариант лучше
                        </button>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 none-form">
                    <form method="post">
                        {% csrf_token %}
                        {{ answer_none_form }}
                        <button id="best-none" type="submit" class="btn btn-lg btn-default" disabled>
                            Не получается выбрать лучший вариант
                        </button>
                    </form>
                </div>
            </div>
         </div>

         <!--<span class="player-preloader">Видео загружается...</span>-->

        <script>
            window.requestAnimFrame = function(){
                return (
                        window.requestAnimationFrame       ||
                                window.webkitRequestAnimationFrame ||
                                window.mozRequestAnimationFrame    ||
                                window.oRequestAnimationFrame      ||
                                window.msRequestAnimationFrame     ||
                                function(/* function */ callback){
                                    window.setTimeout(callback, 1000 / 60);
                                }
                        );
            }();

            var paths = {
                    left: {
                        mp4: "{{ video_path }}/{{ question.sequence.name }}/{{ question.left.short_name }}.mp4",
                        webm: "{{ video_path }}/{{ question.sequence.name }}/{{ question.left.short_name }}.webm"
                    },
                    right: {
                        mp4: "{{ video_path }}/{{ question.sequence.name }}/{{ question.right.short_name }}.mp4",
                        webm: "{{ video_path }}/{{ question.sequence.name }}/{{ question.right.short_name }}.webm"
                    }
                },

                videos = {
                    left: Popcorn("#player-video-left"),
                    right: Popcorn("#player-video-right")
                },
                controls = {
                    //    preloader: $(".player-preloader")
                    best_left: $("#best-left")[0],
                    best_none: $("#best-none")[0],
                    best_right: $("#best-right")[0]
                },
                videos_el = {
                    left: $("#player-video-left")[0],
                    right: $("#player-video-right")[0]
                },
                progress = {},
                events = "play pause timeupdate seeking".split(/\s+/g);

            events.forEach(function (event) {
                videos.left.on(event, function () {
                    if (event === "timeupdate") {
                        if (!videos.left.paused) {
                            return;
                        }
                        videos.right.emit("timeupdate");
                        return;
                    }

                    if (event === "seeking") {
                        videos.right.currentTime(this.currentTime());
                    }

                    if (event === "play" || event === "pause") {
                        videos.right[ event ]();
                    }
                });
            });

            load_video = function(element, mp4_path, webm_path) {
                var r = new XMLHttpRequest();
                r.onload = function() {
                    element.src = URL.createObjectURL(r.response);
                    //console.log("loaded!" + element.id);
                };
                if (element.canPlayType('video/mp4')) {
                    r.open("GET", mp4_path);
                }
                else {
                    r.open("GET", webm_path);
                }
                r.responseType = "blob";
                r.send();
            };

            Popcorn.forEach(videos, function (media, type) {
                progress[media.id] = false;
                media.on("canplayall",function () {
                    //console.log("canplayall" + media.id);
                    progress[media.id] = true;
                    if (Object.keys(progress).every(function(key){ return progress[key] })) {
                        //console.log("start playing!")
                        sync();
                        videos.left.play();
                        //controls.preloader.hide();
                        controls.best_left.removeAttribute('disabled');
                        controls.best_right.removeAttribute('disabled');
                        controls.best_none.removeAttribute('disabled');
                    }
                })
            });

            function sync() {
                if (videos.right.media.readyState === 4 ) {
                    left_time = videos.left.currentTime();
                    right_time = videos.right.currentTime();
                    if (Math.abs(left_time - right_time) > 0.1) {
                        videos.right.currentTime(left_time)
                    }
                }
                requestAnimFrame( sync );
            }

            load_video(videos_el.left, paths.left.mp4, paths.left.webm);
            load_video(videos_el.right, paths.right.mp4, paths.right.webm);
        </script>
    {% endif %}
</body>
</html>