<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="css/styles.css?v=1.0">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <h1>Управление</h1>
    <uL>        
        <li><i class="icon-user icon-white"></i> {{ request.user }}</li>
        <li><a href="{% url 'admin:index' %}">Админка Джанго</a></li>
        <li><a href="{% url 'core.views.csv' %}">Все ответы в .csv</a></li>
    </ul>

    <h1>Статистика упоминания методов</h1>
    <table>
        <thead>
            <th>Метод</th>
            <th>В вопросах</th>
            <th>В парах</th>
            <th>Всего</th>
        </thead>
        <tbody>
            {% for item in stats %}
                <tr>
                    <td>{{ item.method }}</td>
                    <td>{{ item.history }}</td>
                    <td>{{ item.future }}</td>
                    <td>{{ item.future|add:item.history }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Добавление пар</h1>
    <table>
        <tbody>
            <tr>
                <td></td>
                {% for i, method_v in e_methods_h %}
                    <td>{{ method_v.short_name }}</td>
                {% endfor %}
            </tr>
            {% for i, method_h in e_methods_h %}
                <tr>
                    <td>{{ method_h.short_name }}</td>
                    {% for j, method_v in e_methods_v %}
                        <td>
                            {% if j > i %}
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ method_h.id }}" name="left">
                                    <input type="hidden" value="{{ method_v.id }}" name="right">
                                    <input type="submit" value="">
                                </form>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Голосов за метод</h1>
    <table>
        <thead>
            <th>Метод</th>
            <th>Счёт</th>
            <th>Количество участий</th>
            <th>Средний счёт</th>
        </thead>
        <tbody>
            {% for item in scores %}
                <tr>
                    <td>{{ item.method }}</td>
                    <td>{{ item.score }}</td>
                    <td>{{ item.count }}</td>
                    <td>{{ item.score|average:item.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


</body>
</html>