<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>VideoPair</title>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    {% if participant %}
        {{ participant.name }}, вы ответили на все вопросы, спасибо!
        <a href="{% url 'core.views.invalidate' %}">Новый участник</a>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ participant_form }}
            <input type="submit">
        </form>
    {% endif %}
</body>
</html>