{% extends "core/base_index.html" %}
{% block index_logout %}
    <li><a href="{% url 'core.views.invalidate' 'en' %}">Logout ({{ participant }})</a></li>
{% endblock %}
{% block index_lang %}
    <li><a href="{% url 'core.views.index' 'ru' %}">Русская версия</a></li>
{% endblock %}
{% block index_login_title %}Video comparison{% endblock %}
{% block index_login_start %}Begin test{% endblock %}
{% block index_login_action %}/en/new{% endblock %}
{% block index_name_placeholder %}Name{% endblock %}
{% block index_finish %}you've answered all questions{% endblock %}
{% block index_loader_title %}VideoPair - video comparison{% endblock %}
{% block index_loader_info %}Some information{% endblock %}
{% block index_progress_part1 %}Loading videos:{% endblock %}
{% block index_progress_part2 %} of {% endblock %}
{% block index_begin %}Begin test{% endblock %}
{% block index_question_title %}Video comparison{% endblock %}
{% block index_question_part1 %}Question{% endblock %}
{% block index_question_part2 %} of {% endblock %}
{% block index_left %}Left is better{% endblock %}
{% block index_right %}Right is better{% endblock %}
{% block index_none %}None is better{% endblock %}
{% block index_finish2 %}you've answered all questions{% endblock %}
